<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Almond Chutney</h1>

    <h2>Ingredients</h2>
    <ul>
        <li>Red Chillies - 3 Nos</li>
        <li>Curry leaves - 6 Leaves</li>
        <li>Oil - 2 Spoons</li>
        <li>Mustard seeds</li>
        <li>Almonds - 1/4 cup</li>
        <li>Curd - 2 Spoons</li>
        <li>Salt to taste</li>
    </ul>
    
    <h2>Seasonings</h2>
    <p>In a pan add 2 spoons of oil and add mustard seeds, curry leaves, and red chillies and hing.</p>

    <h2>Preparation</h2>
    <ul>
        <li>Grind the almonds with curd, red chillies, curry leaves, and with necessary water for consistency.</li>
        <li>Serve with Dosa</li>
    </ul>
</body>
</html>


    