@model System.Collections.Generic.IEnumerable<MYFIRSTAPP.Models.ChutneyRecipes>
    <h1>Chutney Recipes</h1>

    <table class="chutneytable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

     @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Name, item.Category)
            </td>
        </tr>
        }
    </table>