@model System.Collections.Generic.IEnumerable<MYFIRSTAPP.Models.Recipe>

    <h1>
        @Html.DisplayNameFor(Model => @Model.First().Name)
    </h1>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Ingredients, item.Ingredients)
                </td>

            </tr>
        }
        </table>

